<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Agent Directory</title>
</head>

<body>

<div class="container">

    <h3>Agent Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/agents/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Agent
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th style="text-align: center;">Delete</th>
            <th style="text-align: center;">Update</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempAgent : ${agents}">

            <td th:text="${tempAgent.firstname}" />
            <td th:text="${tempAgent.lastname}" />
            <td th:text="${tempAgent.sex}" />
            <td style="text-align: center;"> <!-- Add a button -->
                <a th:href="@{/agents/showFormForAdd}"
                   class="btn btn-danger btn-sm ">
                    Delete Agent
                </a>
            </td>
            <td style="text-align: center;">
            <!-- Add a button -->
                <a th:href="@{/agents/showFormForAdd}"
                   class="btn btn-warning btn-sm">
                    Update Agent
                </a></td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>



