<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Calendar</title>
</head>
<body>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Titolo</th>
        <th>Costo</th>
        <th>Numero Ore</th>
        <th>Descrizione</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempCourse : ${courses}">

        <td th:text="${tempCourse.title}" />
        <td th:text="${tempCourse.cost}" />
        <td th:text="${tempCourse.numHours}" />
        <td th:text="${tempCourse.description}"/>
        <td> <button type="submit" class="btn btn-primary" form="deleteForm" name = "courseId" th:value="${tempCourse.id}">Delete</button></td>
        <td> <button type="submit" class="btn btn-primary" form="updateForm" name = "courseId" th:value="${tempCourse.id}">Update</button></td>


    </tr>
    </tbody>
</table>
</body>
</html>